fastapi
uvicorn
pydantic[email]
sqlalchemy
psycopg2-binary
python-dotenv
pytest
httpx
psycopg2-binary
sqlmodel
python-dotenv
python-jose[cryptography]
boto3
python-multipart
authlib
itsdangerous
openai
chromadb
tiktoken
jinja2
bcrypt==4.0.1
passlib[bcrypt]==1.7.4